<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dear Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Pets Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link th:href="@{css/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" media="all">
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"> <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css" media="screen" property="" />
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <link th:href="@{//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800}" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
<!-- banner -->
<div class="w3ls-banner about-w3lsbanner">
    <div class="w3lsbanner-info">
        <!-- header -->
        <div class="header">
            <div class="container">
                <div class="agile_header_grid">
                    <div class="header-mdl agileits-logo">
                        <img th:src="@{images/logo.png}" href="index.html"></img>
                    </div>
                    <div class="agileits_w3layouts_sign_in">
                        <ul>
                            <li><a href="#myModal2" data-toggle="modal" class="play-icon">Συνδεση</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="header-nav"><!-- header-two -->
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- top-nav -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav cl-effect-16">
                                <li><a th:href="@{/index}" class="active" data-hover="Αρχική">Αρχική</a></li>

                                <li><a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Φιλοξενία <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a th:href="@{/gallery}" data-hover="Ιδιοκτήτες">Ψάχνουν Σπίτι</a></li>
                                        <li><a th:href="@{/gallery}" data-hover="Συνεργάτες">Παρέχουν Σπίτι</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/gallery}" data-hover="Αιτήσεις">Αιτήσεις</a></li>
                                <li><a th:href="@{/gallery}" data-hover="Βlog">Blog</a></li>
                                <li><a th:href="@{/about}" data-hover="About">About</a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- //header -->
    </div>
</div>
<div class="grid_3 grid_4">
    <h3 class="w3ls-hdg">Συμπληρώστε τα πεδία για εκδήλωση ενδιαφέροντος κι εμείς θα επικοινωνήσουμε μαζί σας.</h3>
    <div class="tab-content">
        <div class="tab-pane active" id="horizontal-form">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="focusedinput" class="col-sm-2 control-label">Όνομα Επιχείρησης</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control1" id="focusedinput" placeholder="Όνομα Επιχείρησης">
                    </div>

                </div>
                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Τύπος Επιχείρησης</label>
                    <div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1">
                        <option>Επιλέξτε από τα παρακάτω:</option>
                        <option>Κτηνιατρείο</option>
                        <option>Εκπαίδευση</option>
                        <option>Διατροφή</option>
                        <option>Καλλωπισμός</option>
                    </select></div>
                </div>

                <div class="form-group">
                    <label for="txtarea1" class="col-sm-2 control-label">ΠΛηροφορίες</label>
                    <div class="col-sm-8"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1"></textarea></div>
                </div>


                <div class="form-group">
                    <label for="smallinput" class="col-sm-2 control-label label-input-sm">Περιοχή</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control1 input-sm" id="smallinput" placeholder="Περιοχή">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mediuminput" class="col-sm-2 control-label">Διεύθυνση</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control1" id="mediuminput" placeholder="Διεύθυνση">
                    </div>
                </div>
                <div class="form-group mb-n">
                    <label for="largeinput" class="col-sm-2 control-label label-input-lg">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control1 input-lg" id="largeinput" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mediuminput" class="col-sm-2 control-label">Τηλέφωνο</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control1" id="telephone" placeholder="Tηλέφωνο">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                    <input class="btn btn-primary btn-default" style="float: right" type="submit" value="Δήλωση">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>












<!-- news letter -->
<div class="subscribe jarallax">
    <div class="sub-agileinfo">
        <div class="container">
            <h3 class="agileits-title w3title1">Εγγραφή στο Newsletter</h3>
            <p>Κάνε εγγραφή τώρα για να μαθαίνεις τα νέα προγράμματα μας και τι καταφέραμε να συνεισφέρουμε .</p>
            <form>
                <input type="email" name="email" placeholder="Email" class="user" required="">
                <input type="submit" value="Εγγραφη">
            </form>
        </div>
    </div>
</div>
<!-- //news letter -->
<!-- footer -->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 col-sm-6 footer-logo">
                    <div class="agileits-logo">
                        <h2><a href="index.html">Dear Pet</a></h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget egestas erat. In hac habitasse platea dictumst.</p>
                </div>



                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2017 Dear Pet. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- modal sign in  -->
<div class="modal bnr-modal about-modal w3-agileits fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body login-page "><!-- login-page -->
                <div class="sap_tabs">
                    <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item" aria-controls="tab_item-0"><span>Συνδεση</span></li>
                        </ul>
                        <div class="clearfix"> </div>
                        <div class="resp-tabs-container">
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="agileits-login">
                                    <form action="#" method="post">
                                        <input type="email" class="email" name="username" placeholder="Username" required=""/>
                                        <input type="password" class="password" name="password" placeholder="Κωδικός" required=""/>
                                        <div class="wthree-text">
                                            <ul>
                                                <li>
                                                    <label class="anim">
                                                        <input type="checkbox" class="checkbox">
                                                        <span> Να με θυμάσαι ;</span>
                                                    </label>
                                                </li>
                                                <li> <a>Ξέχασες τον κωδικό ;</a> </li>
                                            </ul>
                                            <div class="clearfix"> </div>
                                        </div>
                                        <div class="w3ls-submit">
                                            <input type="submit" value="Συνδεση">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div> <!-- //login-page -->
        </div>
    </div>
</div>
<!-- //modal sign in -->
<!-- js -->
<script src="js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- jarallax -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/jarallax.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<!-- //jarallax -->
<!-- flexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- //flexSlider -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();

            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- ResponsiveTabs js -->
<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<!-- //ResponsiveTabs js -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.js"></script>
</body>
</html>